html{
    scroll-behavior: smooth;
}

body{
    background-image: url(index.jpg);
    background-size: cover;
    background-position: center;
}

/* .nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} */

li{
    list-style: none;
}

#enter{
    /* font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: red; 
    text-decoration: none; */
    position: relative;
    top: 500px;
    left: 625px;

}

#door:hover{
    box-shadow: 
        #EEDD82 0 0 12px,
        #efe08e 0 0 25px,
        #f1e39b 0 0 35px,
        #f3e7a7 0 0 45px;

}

